use_default_settings:
  engines:
    remove:
      - ahmia
      - torch
      - wikidata

search:
  formats:
    - html
    - json

server:
  limiter: ${SEARXNG_LIMITER}
  image_proxy: ${SEARXNG_IMAGE_PROXY}
  secret_key: "${SEARXNG_SECRET_KEY}"
